/* common */
.bg-darkcyan {
    background: #008b8b;
}

.bg-darkgray {
    background: #374149;
}

.btn-darkcyan {
    color: #f8f9fa;
    background: #008b8b;
    border-color: #008b8b;
}

.btn-outline-darkcyan {
    color: #008b8b;
    border-color: #008b8b;
}

.btn-darkgray {
    color: #f8f9fa;
    background: #374149;
    border-color: #374149;
}

.btn-outline-darkgray {
    color: #f8f9fa;
    border-color: #374149;
}

.section, .footer {
    margin-top: 48px;
}

.section-helf {
    margin-top: 24px;
}

.list-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    font-size: 1rem;
    font-weight: bold;
    padding: 2px 10px 10px;
}

/* user-list */

.list-item-user {
    display: flex;
}

.list-item-user .icon {
    margin-right: 8px;
    width: 62px;
}

.list-item-user .icon img {
    border-radius: 50%;
}

.list-item-user .body {

}

.list-item-user .title {
    font-size: 1rem;
    font-weight: bold;
}

/* service-list */
.list-item-service {
    display: flex;
}
.list-item-service .icon {
    margin-right: 8px;
    width: 62px;
}
.list-item-service .body {

}

.list-item-service .title {
    font-size: 1rem;
    font-weight: bold;
}
.list-item-service .description .date {
    font-size: 0.8rem;
}
.list-item-service .description .user-name {
    font-size: 0.8rem;
}

/* log-list */
.list-item-log {
    display: flex;
}
.list-item-log .icon {
    margin-right: 8px;
    width: 62px;
}
.list-item-log .body {

}

.list-item-log .title {
    font-size: 1rem;
    font-weight: bold;
}
.list-item-log .description .date {
    font-size: 0.8rem;
}
.list-item-log .description .service-name {
    font-size: 0.8rem;
}
.list-item-log .description .user-name {
    font-size: 0.8rem;
}

/* comment */
.list-item-comment .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.list-item-comment .header .user-icon {
    border-radius: 50%;
    margin-right: 8px;
    height: 20px;
    width: 20px;
}

/* profile */
.profile .img-area {
    text-align: center;
    margin: 20px auto;
}

.profile .img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}